/* common style */
body {
    font-family: 'Work Sans', sans-serif;
}

main {
    padding: 0 230px;
}

/* header styles */
header {
    background-image: url('../images/banner/banner1.png');
    background-repeat: no-repeat;
    height: 808px;
    width: 1600px;
}

.main {
    padding: 150px 230px 166px 800px;
    text-align: right;
}

.main-title {

    color: #151414;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 0;
}

.main-description {
    /* max-width:494px; */
    color: #444343;
    /* text-align: right; */
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 24px;
    margin-bottom: 32px;
}

.btn-contact {
    border-radius: 5px;
    background-color: #F15B22;
    color: white;
    width: 160px;
    height: 64px;
    border: 0;
    padding: 20px 25px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 0;
}

/* my failures section styles */
.failure-container {
    display: flex;
    gap: 130px;
    align-items: center;
    justify-content: space-between;
    margin-top: 140px;
    margin-bottom: 150px;
}

.female img {
    background-color: #F15B22;
}

.img-title {
    width: 288px;
    color: #151414;
    font-size: 40px;
    font-weight: 700;
}

.img-description {
    width: 416px;
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.points-symbol {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.symbols {
    margin-top: 8px;
    margin-bottom: 0;
}

/*  My Plans styles*/

.my-plans {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}

.plans-container {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
}

.plans-title {
    color: #151414;
    font-size: 30px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 18px;
}

.plans-description {
    color: #737272;
    font-size: 25px;
    font-weight: 500;
    margin-top: 0px;
}

/* always keep a positive mindset styles */

.positive-container {
    background-image: url('../images/watch.png');
    background-repeat: no-repeat;
    height: 300px;
    border-radius: 8px;
    color: #FFF;
    /* align-items: center; */
    /* justify-content: center; */
    /* display: flex; */
    background-size: 100%;
}



.color-overlay{
    border-radius: 8px;
background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0.00) 100%);
width: 100%;
    height: 100%;
    opacity: .4;
}

.positive-content{
    align-items: center left;
    padding: 59px;
}

.foot{
    margin-top: 130px;
    display: flex;

}
